@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #162938;
  --secondary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/background3.jpg);
  background-size: cover;
  background-position: center;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

body header h2.logo {
  font-size: 2em;
  color: var(--secondary-color);
  user-select: none;
}

body header h2.logo a{
    text-decoration: none;
    color: var(--secondary-color);
}

body header nav.navigation a {
  position: relative;
  font-size: 1.1em;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

body header nav.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}

body header nav.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

body header nav.navigation button.btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--secondary-color);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--secondary-color);
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

body header nav.navigation button.btnLogin-popup:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

body div.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

body div.wrapper.active-popup{
    transform: scale(1);
}

body div.wrapper.active{
    height: 520px;
}

body div.wrapper div.form-box {
  width: 100%;
  padding: 40px;
}

body div.wrapper div.form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

body div.wrapper.active div.form-box.login{
    transition: none;
    transform: translateX(-400px);
}

body div.wrapper div.form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

body div.wrapper.active div.form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

body div.wrapper span.icon-close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    font-size: 2em;
    color: var(--secondary-color);
    border-radius: 0 0 0 20px;
    cursor: pointer;
    z-index: 1;
}

body div.wrapper div.form-box h2 {
  font-size: 2em;
  color: var(--primary-color);
  text-align: center;
}

body div.wrapper div.form-box form div.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--primary-color);
  margin: 30px 0;
}

body div.wrapper div.form-box form div.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--primary-color);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

body div.wrapper div.form-box form div.input-box input:focus ~ label,
body div.wrapper div.form-box form div.input-box input:valid ~ label {
  top: -5px;
}

body div.wrapper div.form-box form div.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--primary-color);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

body div.wrapper div.form-box form div.input-box span.icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--primary-color);
  line-height: 57px;
}

body div.wrapper div.form-box form div.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: var(--primary-color);
  font-weight: 500;
  margin: -15px 0 15px;
}

body div.wrapper div.form-box form div.remember-forgot label input {
  accent-color: var(--primary-color);
  margin-right: 3px;
}

body div.wrapper div.form-box form div.remember-forgot a {
  color: var(--primary-color);
  text-decoration: none;
}

body div.wrapper div.form-box form div.remember-forgot a:hover {
  text-decoration: underline;
}

body div.wrapper div.form-box form button.btn {
  width: 100%;
  height: 45px;
  background: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--secondary-color);
  font-weight: 500;
}

body div.wrapper div.form-box form div.login-register {
  font-size: 0.9em;
  color: var(--primary-color);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

body div.wrapper div.form-box form div.login-register p a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

body div.wrapper div.form-box form div.login-register p a:hover {
    text-decoration: underline;
}